body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.dummy_content {
    display: flex;
    font-size: 60px;
}