:root {
    --font-style: Inter, sans-serif;
    --font-size-title: 24px;
    --font-size-sub-title: 18px;
    --font-size: 14px;
    --indentation-px: 20px;
    --color: #000000;
    --color-sec: #dedede;
    --transition-px: calc(var(--indentation-px) * -0.1);
}

@media (max-width: 768px) {
    :root {
        --indentation-px: 10px;
    }
}

body {
    max-width: 800px;
    font-family: var(--font-style);
    font-size: var(--font-size);
    padding: calc(2 * var(--indentation-px));
    margin: 0;
    background-color: #FAF9F6;
}

div {
    margin: calc(var(--indentation-px) * 1.5) var(--indentation-px);
}

section {
    margin-bottom: calc(3 * var(--indentation-px));
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* ================== */
/* BOOTSTRAP OVERLOAD */
/* ================== */

.btn {  /* bootstrap overload */
    --bs-btn-font-size: var(--font-size);
}

/* ============== */
/* CUSTOM CLASSES */
/* ============== */

.title {
    font-weight: 900;
    font-size: var(--font-size-title);
    text-transform: uppercase;
    line-height: 44px;
}

.sub-title {
    font-weight: 800;
    font-size: var(--font-size-sub-title);
    line-height: 29px;
}

.badge {
    display: inline-block;
    padding: calc(var(--indentation-px) * 0.2) calc(var(--indentation-px) * 0.5);
    color: #000000;
    border: 2px solid #000;
}

.badge:hover {
    cursor: pointer;
    transform: translate(0, calc(1.5 * var(--transition-px)));
    transition: ease-out 0.3s;
}

.list-item {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* ============= */
/* BUTTONS START */
/* ============= */
.btn-prim {
    border: 3px solid;
    border-radius: 0;
    padding: calc(0.4 * var(--indentation-px)) calc(0.5 * var(--indentation-px));
    font-weight: 800;
    position: relative;
    cursor: pointer;
    margin-bottom: var(--indentation-px);
}

.btn-prim:before {
    content: "";
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-out 0.3s;
}

.btn-prim:hover:before {
    transform: translate(0, calc(1.5 * var(--transition-px)));
}

.btn-prim:hover {
    transform: translate(0, calc(1.5 * var(--transition-px)));
    background: #000000;
    color: #ffffff;
    transition: ease-out 0.3s;
}

.btn-prim:active:before {
    transform: translate(0px, 0px);
}
.btn-prim:active {
    transform: translate(0px, 0px);
}
