body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Railway;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex_column {
    display: flex;
    flex-direction: column;
}


a,
a:hover,
a:active,
a:focus {
    color: #000;
    text-decoration: none;
}

.btn-sec {
    padding: 10px 25px;
    background-image: linear-gradient(to right, #FDB004 0%, #FDC107 51%, #FCD209 100%);
    color: #000;
    text-align: center;
    border-radius: 10px;
    align-self: center;
}


/* header */
.header__container {
    position: relative;
    padding: 25px 0;
}

.header__logo > img {
    width: 250px;
    margin-left: 25px;
}

.header__phone {
    position: absolute;
    top: 0;
    right: 0px;
}

.header__phone a {
    padding: 0 20px;
}

.header__phone > i {
    color: #FDC307;
}

.header__menu_list,
.header__phone {
    background-color: #FBFCFE;
    padding: 15px 0;
}

.header__menu_list {
    position: relative;
}

.header__menu_list:before,
.header__phone::before {
    content: "\A";
    border-style: solid;
    border-width: 0px 50px 53px 0;
    border-color: transparent #FBFCFE transparent transparent;
    position: absolute;
    left: -50px;
}

.header__phone::before {
    top: 0;
}

.header__menu_item {
    padding: 0 40px;
    display: flex;
    align-content: center;
    position: relative;
}

.header__menu_item::before
{
    content: '';
    opacity: 0;
    width: 0;
    height: 100%;
    position: absolute;
    border: 2px solid #FDC307;
    top: -2px;
    left: 30px;
    transition: all 0.5s;
}

.header__menu_item:hover::before,
.header__menu_item.active
{
    opacity: 100;
}

.header__menu_button {
    display: none;
    font-size: 30px;
}

/* language settings */
.header__lang {
    display: none;
}

/* product */
.product {
    justify-content: space-around;
    align-self: center;
    padding: 0 10%;
    margin-top: 70px;
}

.product__description {
    width: 500px;
    flex-grow: 1;
    padding: 25px;
}

.product__description_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: Lora;
}

.product__description_contact {
    margin-top: 30px;
}

.product__image {
    height: 500px;
    width: 500px;
    border: 1px solid #BCBCBC;
    background-color: #FBFCFE;
    justify-content: center;
    flex-grow: 0;
}

.product__image > img {
    width: 80%;
}

/* products links */

.all_products {
    margin: 250px 0;
    margin-left: 20%;
    padding: 2% 10% 5% 2%;
    box-shadow: 0px 0px 17px 0px #BCBCBC;
    background-color: #FBFCFE;
    position: relative;
}

.all_products::before {
    content: '';
    width: 0;
    height: 120%;
    position: absolute;
    border: 2px solid #000;
    top: -10%;
    left: -15%;
}

.all_products__title {
    font-size: 36px;
    padding: 0 30px;
    position: relative;
    text-align: right;
    margin-bottom: 50px;
    font-family: Lora;
}

.all_products__title::after {
    content: '';
    width: 0;
    height: 50%;
    position: absolute;
    border: 2px solid #FDC307;
    bottom: 6px;
    right: 10px;
}

.all_products__list {
    flex-wrap: wrap;
}

.all_products__item {
    position: relative;
    width: 24%;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
    justify-content: center;
    min-height: 300px;
}

.all_products__item_image {
    margin: 20px 0;
    min-height: 150px;
    justify-content: center;
    position: relative;
}

.all_products__item_bottom {
    position: relative;
    text-align: center;
    min-height: 50px;
}

.all_products__item_title,
.all_products__item_button {
    position: absolute;
    width: 100%;
    text-align: center;
}

.all_products__item_button {
    opacity: 0;
    transition: all 0.2s;
}

.all_products__item:hover .all_products__item_button {
    opacity: 1;
}

.all_products__item:hover .all_products__item_title {
    top: -125px;
    font-weight: 600;
}

#map {
    height: 600;
    position: relative;
}

#map iframe {
    width: 100%;
}

.map__contact {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    bottom: 0;
    margin-right: 10%;
    justify-content: space-around;
    padding: 50px 0;
}

.map__title {
    position: relative;
    padding: 0 50px;
    font-size: 36px;
    text-align: left;
    margin-bottom: 50px;
}

.map__title::before {
    content: '';
    width: 0;
    height: 50%;
    position: absolute;
    border: 2px solid #FDC307;
    bottom: 6px;
    left: 10px;
}

.map__contact_data {
    padding: 50px;
    background-color: #fff;
}

.map__contact__item {
    margin-bottom: 25px;
}

.map__contact__item_title {
    font-weight: 600;
}

/* media */
@media (max-width: 1200px) {
    .all_products__item {
        position: relative;
        width: 49%;
    }
}

@media (max-width: 1000px) {
    .header__menu_item {
        padding: 0 15px;
    }

    .product__image {
        width: 100%;
        min-height: 400px;
    }

    .product {
        padding: 0 5%;
    }

    .header__logo > img {
        width: 175px;
    }

    .map__contact {
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
        bottom: 0;
        margin-right: 0;
        justify-content: space-around;
        padding: 25px 0;
    }
    
    .map__title {
        position: relative;
        padding: 0 50px;
        font-size: 36px;
        text-align: left;
        margin-bottom: 25px;
        font-family: Lora;
    }

    .map__contact_data {
        padding: 25px 50px;
    }
}

@media (max-width: 700px) {
    .all_products {
        margin: 40px 0;
        padding: 2%;
        box-shadow: none;
    }

    .all_products::before {
        display: none;
    }

    .product {
        flex-direction: column-reverse;
    }

    .product__description,
    .product__image {
        width: auto;
        height: auto;
    }

    .product__image {
        width: 100%;
        min-height: 300px;
    }

    .header__phone {
        padding: 5px 0;
    }

    .header__phone::before {
        content: "\A";
        border-style: solid;
        border-width: 0px 25px 35px 0;
        border-color: transparent #FBFCFE transparent transparent;
        position: absolute;
        left: -24px;
    }

    .header__menu_button {
        display: flex;
        margin-right: 25px;
        color: #FDC307;
        cursor: pointer;
    }

    .header__menu_list {
        background: transparent;
        position: absolute;
        left: 0;
        width: 90%;
        margin-left: 5%;
        background-color: #FBFCFE;
        flex-direction: column;
        top: 100px;
        box-shadow: 3px 3px 5px #bebebe;
        opacity: 0;
        transition: all 0.3s;
    }

    .header__menu_list.active {
        opacity: 1;
    }
    
    .header__menu_item {
        padding: 15px 10px;
    }

    .header__menu_item::before {
        display: none;
    }
}

@media (max-width: 500px) {
    .all_products__item {
        position: relative;
        width: 100%;
    }
}