@font-face {
    font-family: Dubai;
    font-weight: 100;
    src: url(../fonts/Dubai-Light.ttf);
}

@font-face {
    font-family: Dubai;
    font-weight: 400;
    src: url(../fonts/Dubai-Regular.ttf);
}

@font-face {
    font-family: Dubai;
    font-weight: 500;
    src: url(../fonts/Dubai-Medium.ttf);
}

@font-face {
    font-family: Dubai;
    font-weight: 600;
    src: url(../fonts/Dubai-Bold.ttf);
}