html {
  width: 100vw;
  height: 100vh;
  background: #222;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  text-align: center;
  color: #555;
  font-size: 18px;
  letter-spacing: 0.02em;
}

#container {
  width: 100vw;
  height: 100vh;
}

.circle {
  width: 120px;
  height: 120px;
}

.circle1 {
  -webkit-transform: translate3d(300px, 40px, 0) scale(0.5);
          transform: translate3d(300px, 40px, 0) scale(0.5);
}

.circle2 {
  -webkit-transform: translate3d(500px, 100px, 0) scale(1.2);
          transform: translate3d(500px, 100px, 0) scale(1.2);
}

.circle3 {
  -webkit-transform: translate3d(-100px, 250px, 0) scale(1);
          transform: translate3d(-100px, 250px, 0) scale(1);
}

.circle4 {
  -webkit-transform: translate3d(500px, 80px, 0) scale(1.5);
          transform: translate3d(500px, 80px, 0) scale(1.5);
}

.circle5 {
  -webkit-transform: translate3d(-20px, 0px, 0) scale(1);
          transform: translate3d(-20px, 0px, 0) scale(1);
}

.circle6 {
  -webkit-transform: translate3d(500px, 80px, 0) scale(0.4);
          transform: translate3d(500px, 80px, 0) scale(0.4);
}
