@media (max-width: 1200px) {
    .one-click {
        margin-bottom: 100px;
        text-align: center;
    }

    .steps img {
        right: 0;
        top: 0;
        bottom: 0;
    }
}

@media (max-width: 992px) {
    .shipping img {
        display: none;
    }

    .squares-bg {
        background: none;
    }

    .booking-form {
        padding: 0 70px;
    }
}

@media (min-width: 993px) {
    .main {
        font-weight: 500;
    }
}

@media (max-width: 768px) {
    .kristina {
        display: none;
    }

    .project .col-min,
    .project .col-big {
        width: 100%;
        flex-basis: auto;
        padding: 0;
    }

    input {
        min-width: 150px;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .col-big {
        min-width: 250px;
    }

    .booking-form {
        padding: 0 50px;
    }

    .details-add {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .f52 {
        font-size: 30px;
    }

    .f34 {
        font-size: 20px;
        line-height: 25px;
    }

    .portfolio-title {
        text-align: center;
    }

    .f24 {
        font-size: 16px;
    }

    .f30 {
        font-size: 18px;
    }

    .steps-item {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .block-big {
        height: auto;
    }

    .height {
        height: auto;
    }

    .details .col-min.detail {
        text-align: center;
        width: 100%;
    }

    .response .booking-form {
        padding: 0 50px;
    }

    .hid-sm {
        display: none;
    }
}

@media (min-width: 601px) {
    .hid-lg {
        display: none;
    }
}

@media (max-width: 500px) {
    .navbar-brand img {
        width: 75px;
    }

    .navbar .f24,
    .navbar .f19 {
        font-size: 14px;
    }

    .navbar .f19 {
        padding: 0;
    }
}