/* ================================================ */
/* =================== COMMON ===================== */
/* ================================================ */
body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "ProximaNova";
    color: #474747;
    scroll-behavior: smooth;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
    font-weight: 600;
}

h2
{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.thin
{
    font-weight: 300;
}

.semi-bold
{
    font-weight: 500;
}

.normal
{
    font-weight: 400;
}

.bold
{
    font-weight: 600;
}

.black
{
    font-weight: 900;
}

.text-red
{
    color: #e70034;
}

.bg-red {

    /*background-color: #e70034;!*#c02336*!*/
    background: url(../img/clip-text.jpg) center/cover;
    color: #fff;
    padding: 0 10px;
}

.navbar:hover {
    background-color: #fff;
    transition: background-color ease-in 0.3s;
}

.nav-wrapper {
    padding: 0;
}

.navbar-brand img {
    width: 70px;
}

.navbar-nav li {
    margin-left: 30px;
}

.navbar-nav__stroke {
	position: relative;
	color: #363636;
	text-decoration: none;
    display: inline;
	list-style: none;
	align-self: center;
	font-weight: 500;
	color: #363636;
}

.navbar-nav__stroke:hover {
    text-decoration: none;
    color: #363636;
}

.navbar-nav__stroke:before, .navbar-nav__stroke:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    background: #363636;
}

.navbar-nav__stroke:before {
    left: -10%;
}
.navbar-nav__stroke:after {
    right: -10%;
    background: #363636;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-nav__stroke:hover:before {
    background: #363636;
    width: 120%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-nav__stroke:hover:after {
    background: transparent;
    width: 120%;
    transition: 0s;
}

.btn-main,
.btn-main:focus,
.btn-main:hover {
	width: 200px;
	display: inline-block;
	text-align: center;
	padding: 10px;
	border: 1px solid #e70034;
	color: #e70034;
	text-decoration: none;
	margin: 20px 0;
	cursor: pointer;
	-webkit-transition: 0.35s;
	transition: 0.35s;
	border-radius: 30px;
}

.btn-main:hover,
.btn-main:focus {
  -webkit-box-shadow: inset 0 0 0 2em #e70034;
          box-shadow: inset 0 0 0 2em #e70034;
  color: #fff;
}

.v-lines {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.v-lines-outer {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    height: 100%;
    margin: auto;
    position: relative;
    width: 60%;
}

.v-lines-inner {
    width: 33%;
    height: 100%;
    margin: auto;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    position: relative;
    z-index: 6;
}

.v-lines-shadow {
    width: 33.3%;
    height: 100%;
    box-shadow: 0px -25px 52px 7px #efefef;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    z-index: 9;
    background: #fff;
}
/* ================================================ */
/* =================== BLOCKS ===================== */
/* ================================================ */

section
{
    min-height: 100vh;
}

.main
{
    height: 100vh;
}

.main-text
{
    z-index: 2;
    margin-left: 200px;
}

.services
{
    padding: 200px;
}

.services-accordion
{
    padding: 70px;
    box-shadow: 0px 25px 52px 7px #efefef;
    /* height: 700px; */
}

.services-accordion_title
{
    font-size: 36px;
    margin-bottom: 50px;
}

.services-image
{
    padding: 50px 0 100px;
}

.services-image > div
{
    width: 100%;
    height: 100%;
}

.card
{
    border: 0;
}

.card-header
{
    font-size: 20px;
    color: #d5d5d5;
    font-weight: 500;
    padding: .75rem 0;
    border: none;
    border-top: 1px solid rgba(0,0,0,.125);
    border-radius: 0!important;
    background: transparent;
}

.card-header a,
.card-header a:hover
{
    color: #e70034;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.card-header a.collapsed
{
    color: #d5d5d5;
}

.card-header a .fa-angle-down
{
    display: none;
}

.card-header a.collapsed .fa-angle-up
{
    display: none;    
}

.card-header a.collapsed .fa-angle-down
{
    display: inline;
}

.card-body
{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.card-container
{
    height: 400px;
}

.card ul
{
    list-style: none;
}

.card ul li::before {
    content: "\2022";
    color: red;
    display: inline-block;
    width: 10px;
}

.works
{
    padding: 0 200px;
}

.works h2
{
    margin-bottom: 0;
}

.works-title
{
    font-size: 42px;
    line-height: 42px;
}

.works .card img
{
    width: 100%;
}

.works-navigation
{
    margin: 50px 0;
}

.works-navigation_item
{
    margin-right: 25px;
    color: #d5d5d5;
    cursor: pointer;
    transition: all 0.3s linear;
}

.works-navigation_item.active,
.works-navigation_item:hover
{
    color: #363636;
}
