body {
	padding: 100px;
	margin: 0;
}

.element-item {
	display: block;
	position: relative;
	width: 200xp;
	height: 600px;
	background-color: aliceblue;
	transform-style: preserve-3d;
	box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgba(0,0,0,.13);
}