@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNovaT-Thin.woff");
    font-weight: 100;
    font-display:swap;
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Light.woff");
    font-weight: 300;
    font-display:swap;
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Regular.woff");
    font-weight: 400;
    font-display:swap;
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Bold.woff");
    font-weight: 600;
    font-display:swap;
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Semibold.woff");
    font-weight: 500;
    font-display:swap;
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Extrabld.woff");
    font-weight: 700;
    font-display:swap;
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova-Black.woff");
    font-weight: 800;
    font-display:swap;
}